* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.content {
    display: flex;
}

/*=====================================HEADER=====================================*/

header {
    background: #ddd;
    color: #333;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    font-size: 24px;
    padding: 20px;
}

.nav-bar {
    background: #222;
    padding: 10px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.55), 0 5px 10px rgba(0, 0, 0, 0.55);
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-bar ul li {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-main, .nav-bar ul li:hover {
    background-color: #555;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/*==================================================================================*/

/*=====================================FILTERS=====================================*/

.filters-wrapper {
    background: #fff;
    border-right: 1px solid #ddd;
}

.filters {
    position: sticky;
    top: 130px;
    padding: 20px;
    width: 300px;
    height: calc(100vh - 128px);
    overflow-y: auto;
}

.filters label {
    display: block;
    margin: 10px 0 5px;
}

.filters select, .filters button, .filters input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filters button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filters button:hover {
    background: #555;
}

#restore-filters {
    text-decoration: none;
    color: #333;
}

/*==================================================================================*/

/*=====================================MAIN CONTENT=====================================*/

.main-content {
    padding: 20px;
}

.processors-list {
    display: flex;
    flex-wrap: wrap;
}

.processor-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    width: calc((100vw - 420px)/3);
    margin: 10px;
}

.processor-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.processor-card h3 {
    margin: 10px 0;
    font-size: 20px;
}

.processor-card p {
    margin: 5px 0;
    font-size: 14px;
}

.processor-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.processor-card a:hover {
    background-color: #555;
}

.no-results {
    color: #6c6c6c;
    width: calc(100vw - 360px);
    font-size: 36px;
    text-align: center;
    margin-top: 30vh;
}

/*==================================================================================*/